/* Tailwind */
@import url("https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

/* Font Ideas from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap'); */

.cursive {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* .home-name {
  font-size: 150px;
} */

.hover-nav:hover {
  text-decoration: underline;
}

.face {
  top: -65px;
  max-width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.proglogos {
  max-width: 50%;
}

.linkedphoto {
  max-width: 15%;
  margin: auto;
}

.projBackground {
  background-image: url("./pics/milky-way.jpg");
}

.aboutBackground {
  background-image: url("./pics/saxon.jpg");
}

.activitiesBackground {
  background-image: url("./pics/nature.jpg");
}
